<div class="appContainer">
    <div class="nft-main">
        <div class="nft-banner">
            <div class="container-fluid">
                <ul class="banner_lists">
                    <li>

                        <p>this is test html worldEtiam auctor urna ac nisi feugiat, in tempor massa tempus arcu
                            necneque efficitur porta</p>
                        <br /><br /><br />
                        <button (click)="connectAccount()">HEY</button>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>